$DOMAIN {
        bind 0.0.0.0

        reverse_proxy /* {
                to http://127.0.0.1:3000
                header_up Host {host}
                header_up X-Real-IP {remote}
                header_up X-Forwarded-Port {port}
                header_down Server Caddy
                
                transport http {
                    read_buffer 4096
                    write_buffer 4096
                    read_timeout 3600s
                    write_timeout 3600s
                }
        }

        reverse_proxy /adminer/* {
                to http://127.0.0.1:3001
                header_up Host {host}
                header_up X-Real-IP {remote}
                header_up X-Forwarded-Port {port}
                header_down Server Caddy
        }

        request_body {
                max_size 10GB
        }
}
