/* ----------------------------------- */
/* Plyr */
.plyr {
  @apply tw_h-full tw_w-full;

  .plyr__progress {
    @apply tw_w-full;

    input,
    progress {
      padding-right: 10px !important;
    }
  }

  .plyr__time--duration {
    padding-right: 10px;

    &::before {
      margin-left: 10px;
    }
  }
}
:root {
  --plyr-color-main: #833deb;
}

/* ----------------------------------- */
/* Toaster */
.c-toast-container {
  @apply !tw_z-[12010] tw_mt-4 md:tw_mt-0;

  .c-toast {
    @apply !tw_z-[12010] tw_pointer-events-auto;

    [class^='c-toast--'] {
      @apply tw_border-2 tw_bg-white tw_rounded-lg tw_px-6 tw_py-4 tw_mb-2 tw_flex tw_items-start tw_gap-2 tw_relative tw_z-[9999] tw_max-w-[400px];
      @apply tw_cursor-pointer;

      &.c-toast--success {
        @apply tw_bg-green-50 tw_border-green-400;
      }
      &.c-toast--error {
        @apply tw_bg-red-50 tw_border-red-400;
      }
      &.c-toast--info {
        @apply tw_bg-blue-50 tw_border-blue-400;
      }
    }
  }
}

/* ----------------------------------- */
/* LightGallery */
.lg-container {
  .lg-backdrop {
    @apply !tw_z-[12000];
  }
  .lg-outer {
    @apply !tw_z-[12001] tw_transition-[width];

    .lg-toolbar {
      @apply tw_flex tw_justify-between tw_items-center tw_text-gray-300;

      .lg-counter {
        @apply tw_text-gray-300;
      }

      &::after,
      .lg-close {
        @apply tw_hidden;
      }
    }

    .lg-img-wrap {
      .lg-dummy-img {
        @apply !tw_w-full !tw_h-full !tw_top-0 !tw_left-0 !tw_object-contain !tw_m-0 !tw_block;
      }
      .lg-image {
        @apply !tw_w-full !tw_h-full tw_object-contain;
      }
    }
  }
  .lg-has-html5 img {
    @apply !tw_object-contain;
  }
}
